.todo__listItem {
    align-items: center;
    justify-content: center;
    border: 8px outset rgba(51, 201, 13, 0.452);
    height: 25px;
    border-radius: 20px / 10px;
    width: 40%;
    margin: auto;
    margin-top: 15px;
}

.todo__listItem > span{
    display: inline-block;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.todo__deleteIcon{
    float: right;
    padding-right: 10px;
    cursor: pointer;
}




